body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vh;
  height: 100vh;
  background-image: url("./exterior/forest_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

h2 {
  font-size: 6vw;
  font-family: "Wonder Boy In Monster World", sans-serif;
  text-align: center;
  color: #ffe4c4;
  padding: 6vw;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#libraryBuilding {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20vh;
  width: 80%;
  max-width: 800px;
  text-align: center;
}
#libraryBuilding img {
  width: 80%;
  height: 400px;
}

#treebeard {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("exterior/Ent_Idle_1.png");
  /* background-repeat: no-repeat; */
  background-size: contain;
  transition: all 0.2s ease-in-out;
}
